{% extends "admin/base.html.twig" %}

{% block title %}Articles{% endblock %}

{% block main %}

    {% for article in articles %}

        {% if article.published == 1 %}
        
            <h2><a href="{{ path("admin_article_show", {'id' : article.id})}}">{{ article.title }}</a></h2>

        {% endif %}
        
    {% endfor %}

{% endblock %}