{% extends "front/base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}

    {% if article.published %}

        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        
    {% endif %}

{% endblock %}