{% extends "front/base.html.twig" %}

{% block title %}Catégories{% endblock %}

{% block main %}

    {% for category in categories %}

        <h2><a href="{{ path("show_category", {'id' : category.id})}}">{{ category.name }}</a></h2>

    {% endfor %}

{% endblock %}