{% extends "front/base.html.twig" %}

{% block title %}Auteur{% endblock %}

{% block main %}

    {% for writer in writers %}

        <h2><a href="{{ path("show_writer", {'id' : writer.id})}}">{{ writer.firstname }} {{ writer.name }}</a></h2>

    {% endfor %}

{% endblock %}